In [166]:
import pandas as pd

In [167]:
df1 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Ahemdabad_Cleaned.csv')
df2 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Chandigarh_Cleaned.csv')
df3 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Chennai_Cleaned.csv')
df4 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Coimbatore_Cleaned.csv')
df5 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Delhi_Cleaned.csv')
df6 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Hyderabad_Cleaned.csv')
df7 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Jaipur_Cleaned.csv')
df8 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Kolkata_Cleaned.csv')
df9 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Lucknow_Cleaned.csv')
df10 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Mumbai_Cleaned.csv')
df11 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Nagpur_Cleaned.csv')
df12 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Nashik_Cleaned.csv')
df13 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Noida_Cleaned.csv')
df14 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Patna_Cleaned.csv')
df15 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Pune_Cleaned.csv')
df16 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Surat_Cleaned.csv')
df17 = pd.read_csv('Downloads/real estate/Real-Estate-Price-Prediction-Analysis-main (1)/Real-Estate-Price-Prediction-Analysis-main/Datasets/Vijayawada_Cleaned.csv')
df18 = pd.read_csv('BANGALORE_Cleaned.csv')
df19 = pd.read_csv('Gurgaon_cleaned2.csv')

In [168]:
df1.columns,df2.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'))

In [169]:
df = pd.concat([df1, df2], ignore_index=True)

In [170]:
df = df[['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
           'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
           'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
           'State', 'Area Type']]

In [171]:
df.columns, df3.columns, df4.columns, df5.columns, df6.columns, df7.columns, df8.columns, df9.columns, df10.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [172]:
df = pd.concat([df, df3,df4,df5,df6,df7,df8,df9,df10], ignore_index=True)

In [173]:
s = df['State'].unique()
s

array(['Gujarat', 'Chandigarh', 'Tamil Nadu', 'Delhi', 'Telangana',
       'Rajasthan', 'West Bengal', 'Uttar Pradesh', 'Maharashtra'],
      dtype=object)

In [174]:
df.columns, df11.columns, df12.columns, df13.columns, df14.columns, df15.columns, df16.columns, df17.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [175]:
df = pd.concat([df, df11,df12,df13,df14,df15,df16,df17], ignore_index=True)

In [176]:
s = df['State'].unique()
s

array(['Gujarat', 'Chandigarh', 'Tamil Nadu', 'Delhi', 'Telangana',
       'Rajasthan', 'West Bengal', 'Uttar Pradesh', 'Maharashtra',
       'Bihar', 'Andhra Pradesh'], dtype=object)

In [178]:
df18.columns, df.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [183]:
df18.columns = df18.columns.str.replace('Number of Bathrooms', 'Number of Bathroom')
df18.columns = df18.columns.str.replace('Kids Play Areas', '"Kids Play Areas"')

In [180]:
df18 = df18[['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
           'Number of Rooms', 'Number of Bathrooms', 'Area (Sq.Ft.)', 'Balcony',
           'Clubhouse', 'Swimming Pool', 'Kids Play Areas', 'Parking', 'Area Type', 'State']]

In [184]:
df.columns , df18.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Area (Sq.Ft.)', 'Balcony',
        'Clubhouse', 'Swimming Pool', '"Kids Play Areas"', 'Parking',
        'Area Type', 'State'],
       dtype='object'))

In [185]:
column_order = ['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
                'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
                'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
                'State', 'Area Type']

# Reorder the columns of df2
df18 = df18[column_order]

In [186]:
s = df['State'].unique()
s

array(['Gujarat', 'Chandigarh', 'Tamil Nadu', 'Delhi', 'Telangana',
       'Rajasthan', 'West Bengal', 'Uttar Pradesh', 'Maharashtra',
       'Bihar', 'Andhra Pradesh'], dtype=object)

In [187]:
df = pd.concat([df, df18], ignore_index=True)

In [188]:
s = df['State'].unique()
s

array(['Gujarat', 'Chandigarh', 'Tamil Nadu', 'Delhi', 'Telangana',
       'Rajasthan', 'West Bengal', 'Uttar Pradesh', 'Maharashtra',
       'Bihar', 'Andhra Pradesh', 'Karnatka'], dtype=object)

In [189]:
df

,City,Locality,Property Type,Price,Furnishing Status,Number of Rooms,Number of Bathroom,Balcony,Clubhouse,Swimming Pool,"""Kids Play Areas""",Parking,Area (Sq.Ft.),State,Area Type
0,Ahmedabad,Makarba,Residential,1.150000e+07,Furnished,3,3,Individual,0,0,0,2,1715.0,Gujarat,Built-up Area
1,Ahmedabad,Makarba,Residential,6.500000e+06,Unfurnished,2,2,Connected,0,0,1,1,1050.0,Gujarat,Saleable Area
2,Ahmedabad,Ambli Road,Residential,7.210000e+07,Semi-Furnished,5,5,Connected,0,0,0,4,4083.0,Gujarat,Carpet Area
3,Ahmedabad,Shela,Residential,1.300000e+07,Unfurnished,5,5,Connected,0,0,1,4,3100.0,Gujarat,Built-up Area
4,Ahmedabad,Bodakdev,Residential,1.500000e+07,Furnished,5,4,Room-attached,0,0,0,1,1800.0,Gujarat,Built-up Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19141,Bangalore,Channohalli,Plot,2.159587e+07,Unfurnished,0,0,No Balcony,0,0,0,0,1470.0,Karnatka,Area
19142,Bangalore,Dollars Colony,Plot,2.159587e+07,Unfurnished,0,0,No Balcony,1,0,0,0,1200.0,Karnatka,Area
19143,Bangalore,Tata Nagar,Plot,2.159587e+07,Unfurnished,0,0,No Balcony,1,0,0,0,3600.0,Karnatka,Area
19144,Bangalore,Doddabommasandra,Plot,2.159587e+07,Unfurnished,0,0,No Balcony,0,0,0,0,4000.0,Karnatka,Area
19145,Bangalore,New Bel Road,Plot,2.159587e+07,Unfurnished,0,0,No Balcony,1,0,0,0,2310.0,Karnatka,Area

In [192]:
df19.columns, df.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathrooms', 'Area (Sq.Ft.)', 'Balcony',
        'Clubhouse', 'Swimming Pool', 'Kids Play Areas', 'Parking', 'Area Type',
        'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [193]:
df19.columns = df19.columns.str.replace('Number of Bathrooms', 'Number of Bathroom')
df19.columns = df19.columns.str.replace('Kids Play Areas', '"Kids Play Areas"')

In [194]:
column_order = ['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
                'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
                'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
                'State', 'Area Type']

# Reorder the columns of df2
df19 = df19[column_order]

In [195]:
df = pd.concat([df, df19], ignore_index=True)

In [196]:
s = df['State'].unique()
s

array(['Gujarat', 'Chandigarh', 'Tamil Nadu', 'Delhi', 'Telangana',
       'Rajasthan', 'West Bengal', 'Uttar Pradesh', 'Maharashtra',
       'Bihar', 'Andhra Pradesh', 'Karnatka', 'Haryana'], dtype=object)

In [197]:
df

,City,Locality,Property Type,Price,Furnishing Status,Number of Rooms,Number of Bathroom,Balcony,Clubhouse,Swimming Pool,"""Kids Play Areas""",Parking,Area (Sq.Ft.),State,Area Type
0,Ahmedabad,Makarba,Residential,11500000.0,Furnished,3,3.0,Individual,0,0,0,2,1715.0,Gujarat,Built-up Area
1,Ahmedabad,Makarba,Residential,6500000.0,Unfurnished,2,2.0,Connected,0,0,1,1,1050.0,Gujarat,Saleable Area
2,Ahmedabad,Ambli Road,Residential,72100000.0,Semi-Furnished,5,5.0,Connected,0,0,0,4,4083.0,Gujarat,Carpet Area
3,Ahmedabad,Shela,Residential,13000000.0,Unfurnished,5,5.0,Connected,0,0,1,4,3100.0,Gujarat,Built-up Area
4,Ahmedabad,Bodakdev,Residential,15000000.0,Furnished,5,4.0,Room-attached,0,0,0,1,1800.0,Gujarat,Built-up Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32441,Gurgaon,Gurgaon,Residential,221700.0,Furnished,2,1.5,0,1,0,1,0,1556.0,Haryana,Living Area
32442,Gurgaon,Gurgaon,Residential,219200.0,Furnished,3,2.0,0,0,0,0,1,1680.0,Haryana,Living Area
32443,Gurgaon,Gurgaon,Residential,209000.0,Unfurnished,2,1.0,0,0,0,1,0,1070.0,Haryana,Living Area
32444,Gurgaon,Gurgaon,Residential,205000.0,Furnished,4,1.0,0,1,1,0,0,1030.0,Haryana,Living Area
32445,Gurgaon,Gurgaon,Residential,146000.0,Furnished,3,1.0,0,0,1,0,1,900.0,Haryana,Living Area

In [198]:
 #Check for duplicates in the merged_cleaned dataframe
duplicates = df[merged_df.duplicated()]

# Print the number of duplicate rows
print(f"Number of duplicate rows: {duplicates.shape[0]}")

# If you want to remove the duplicates and create a cleaned version
cleaned_final = df.drop_duplicates()

Number of duplicate rows: 6

In [199]:
cleaned_final.to_csv('cleaned_final.csv', index=False)